# SQL Server
DB_SA_PASSWORD="TriAmici@2026!Forte"

# JWT
JWT_SECRET="sua-chave-secreta-longa-aqui-minimo-32-chars"

# E-mail SMTP
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="seu-email@gmail.com"
SMTP_PASS="sua-senha-de-app-gmail"

# Admin inicial
ADMIN_EMAIL="admin@triamici.com.br"
ADMIN_SENHA_INICIAL="MudeSuaSenha@2026"

# Frontend
NEXT_PUBLIC_API_URL="http://localhost:8080"
