PORT=8080
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000
DB_SERVER=localhost
DB_PORT=1433
DB_NAME=triamici_db
DB_USER=sa
DB_PASSWORD="TriAmici@2026!Forte"
JWT_SECRET="sua-chave-secreta-longa-aqui-minimo-32-chars"
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seu-email@gmail.com
SMTP_PASS=sua-senha-de-app-gmail
EMAIL_DESTINO=escola@triamici.com.br
ADMIN_EMAIL=admin@triamici.com.br
ADMIN_SENHA_INICIAL=MudeSuaSenha@2026
